<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <h1>THIS IS MY FIRST WEB APP!!!</h1>
  
  	*This app created for to encrypt your name and surname 
  	*There is 4 textbox below:
  		*Textbox1: Enter integers  with comma between them that same length as your name
  		*Textbox2: Enter integers  with comma between them that same length as your surname
  		*Textbox3: Enter your name
  		*Textbox4: Enter your surname
  		
  	**Click The Button Below the boxes to see the encrypted version of your name and surname!!!**
  	
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
