<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <h2>THIS IS MY FIRST WEB APP!!!</h2>
  <h2>ITS BDAY IS 10 MARCH 2024</h2>
  
  	<h3>*This app created for to encrypt your name and surname</h3> 
  	<h3>*There is 4 textbox below:</h3>
  		<h3>*Textbox1: Enter integers  with comma between them that same length as your name</h3>
  		<h3>*Textbox2: Enter integers  with comma between them that same length as your surname</h3>
  		<h3>*Textbox3: Enter your name</h3>
  		<h3>*Textbox4: Enter your surname</h3>
  		
  	<h3>**Click The Button Below the boxes to see the encrypted version of your name and surname!!!**</h3>
  	<h3></h3>
  	<h3>*********************************************************************************************</h3>
  	<h3></h3>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
